<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data ">
    <div class="form-group">
        <label for="title"></label>
        <input type="text" class="form-control" name="title" id="title" value="{{post.title}}">
    </div>
    <div class="form-group">
        <label for="file">Upload image</label>
        <input type="file" name="file" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
            {{#select post.category}}
            {{#each Categories}}

            <option value="{{id}}">{{name}}</option>

            {{/each}}
            {{/select}}


        </select>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" id="status" class="form-control">
            {{#select post.status}}
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
            {{/select}}
        </select>
    </div>

    <div class="form-check">
        <label for="allowComments" class="form-check-label">
            <input type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}} class="form-check-input"
                name="allowComments" id="allowComments">
            Allow Commnents </label>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body" rows="10" cols="30">{{post.body}}</textarea>
    </div>
    <button class=" btn btn-primary pull-right" type="submit"> Update Post</button>
</form>